<div class="row">

    <div id="landing" class="col-md-6">
        <h2 id="welcome">{{title}}!</h2>
        <img id="kids" src="kids.jpg" width="400px" alt="KinderKids">

    </div><br>
    <div id="kinderCash"class="col-md-6">
        
        <h4 id="titles"><b>What is KinderCash?</b></h5>
            <p>KinderCash is an online money management and educational tool designed for children. The KinderCash experience
                will teach children as young as 5 years old the basics of saving and spending money.</p>

            <h4 id="titles"><b>How does KinderCash work?</b></h5>
                <p>A grown up sets up a checking and savings accounts for one or more kids. All transactions are managed by
                    the grown up. Kids have view-only access to these accounts that kids can view.</p>
                <p>Money can be added or subtracted by the grown up. In addition, the app allows for the creation of chore trackers
                    with monetary value tied to them. Upon completion of each chore, the value of that chore is direct-deposited
                    into a specified account (checking or savings).</p>
                <p>KinderCash also helps kids set financial goals and rewards them with special badges for each achievement.</p>

            <h4 id="titles"><b>How can I get started?</b></h5>
            <p>KinderCash is free to use. Simply create and account and have fun! Click Sign Up!</p>
                {{!-- <button type="button" class="btn btn-lg btn-primary" id="getstarted">Get Started!</button> --}}

    </div>




