<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="/images/cash.png/">
	<title>KinderCash</title>
</head>
<body>
<style>
h1 {
    background-color: #1ab869;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=firstname], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=lastname], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #1ab869;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1ab869;
}



#parent {
    border-radius: 5px;
    background-color: #1ab869;
    padding: 20px;
    max-width: 130px;
    margin: auto;
    float: left;
}
#kid {
    border-radius: 5px;
    background-color: #1ab869;
    padding: 20px;
    max-width: 130px;
    margin: auto;
    float: right;
}
#space {    
    background-color: #f2f2f2;
    max-width: 0px;

}
div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 300px;
    margin:auto;
}


/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}
  </style>
  <container>
<div id="panel">
    <h1>Welcome to Kinder <span>&#8364;</span>ash</span><br>Are you a ...</h1>
    <div class="btn-group">
            <button id="parent"><a href="/signin" class="button">Grown Up?</a></button>
            <span style="margin-left: 10px; color:#1ab869">  &oscr;&#8475;</span>
            <button id="kid"><a href="/signin" class="button">Cool Kid?</a></button>
          </div>
</div>
</container>
</body>
</html>