<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="/images/cash.png/">
	<title></title>
</head>
<body>
<style>
h1 {
    background-color: #1ab869;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=firstname], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=lastname], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #1ab869;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1ab869;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 300px;
    margin:auto;
}
  </style>
  <container>
  <div>
<h1>Kinder <span>&#8364;</span>ash<br>Sign-In Form</h1>
<form id="signin" name="signin" method="post" action="/signin">
  <p>
  <h2>You have entered an invalid email or password. Please Try Again.</h2>
  </p>
  <p>
  <label for="email">Email Address</label>
  <input class="text" name="email" type="text" />
  </p>
  <p>
  <label for="password">Password</label>
  <input name="password" type="password" />
  </p>
  <input class="btn" type="submit" value="Sign In" />
</form>
<p class="change_link">Not a member yet ?<a href="/signup" class="to_register">Join us</a>
</p>
</div>
</container>
</body>
</html>